atomic_add-bench
benchmark-crypto-cipher
benchmark-crypto-hash
benchmark-crypto-hmac
check-*
!check-*.c
!check-*.sh
qht-bench
rcutorture
test-*
!test-*.c
!docker/test-*
test-qapi-commands.[ch]
test-qapi-events.[ch]
test-qapi-types.[ch]
test-qapi-visit.[ch]
test-qapi-introspect.[ch]
*-test
qapi-schema/*.test.*
vm/*.img
tcg/hello-i386
tcg/test_path
tcg/sha1-i386
tcg/test-i386
tcg/test-i386-fprem
tcg/test-i386.out
tcg/test-i386.ref
tcg/test-mmap
tcg/testthread
