#!/usr/bin/make -f
SHELL = /bin/sh -e

export DH_VERBOSE=1

# get DEB_VERSION
include /usr/share/dpkg/pkg-info.mk
# get DEB_HOST_ARCH DEB_HOST_ARCH_OS DEB_HOST_GNU_TYPE DEB_HOST_MULTIARCH DEB_BUILD_GNU_TYPE
include /usr/share/dpkg/architecture.mk
# get CFLAGS LDFLAGS etc
include /usr/share/dpkg/buildflags.mk

ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo yes),yes)
VENDOR := UBUNTU
else
VENDOR := DEBIAN
endif

# verbose build
V ?= 1

# list of packages we're supposed to build
BUILD_PACKAGES = $(call dpkg_late_eval,BUILD_PACKAGES,dh_listpackages)

DATAPATH = /usr/share/qemu:/usr/share/seabios:/usr/lib/ipxe/qemu

# we add another set of configure options from debian/control
common_configure_opts = \
	--with-pkgversion="Debian $(DEB_VERSION)" \
	--extra-cflags="$(CFLAGS) $(CPPFLAGS) -DVENDOR_$(VENDOR)" \
	--extra-ldflags="$(LDFLAGS) -Wl,--as-needed" \
	--prefix=/usr \
	--sysconfdir=/etc \
	--libdir=/usr/lib/$(DEB_HOST_MULTIARCH) \
	--libexecdir=/usr/lib/qemu \
	--localstatedir=/var \
	--disable-smartcard \
	--disable-blobs \
	--disable-strip \
	--with-system-pixman \
	--interp-prefix=/etc/qemu-binfmt/%M \
	--localstatedir=/var \
	--with-confsuffix=qemu-2.8 \
	--datapath="${DATAPATH}" \
	--enable-debug \

# Cross compiling support
ifneq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
common_configure_opts  += --cross-prefix=$(DEB_HOST_GNU_TYPE)-
endif

## configure here ...
system-pkg-y := i386 x86_64

## automatically derive system target names from chosen system packages
system-targets-y += $(addsuffix -softmmu,$(system-pkg-y))

# qemu-system subpackages, from d/control
sys_systems = x86
systems = ${sys_systems} misc
sysarch_arm   = $(filter aarch64 arm,${system_targets-y})
sysarch_mips  = $(filter mips mipsel mips64 mips64el,${system_targets-y})
sysarch_ppc   = $(filter ppc ppc64 ppcemb,${system_targets-y})
sysarch_sparc = $(filter sparc sparc64,${system_targets-y})
sysarch_x86   = $(filter i386 x86_64,${system_targets-y})
sysarch_misc  = $(filter-out $(foreach s,${sys_systems},${sysarch_$s}),${system_targets-y})

binary binary-arch binary-indep build build-arch build-indep clean install install-arch install-indep: debian/control
	dh $@

override_dh_auto_configure:
	./configure ${common_configure_opts} \
		--enable-user \
		--enable-system \
		--enable-modules \
		--target-list="${system_targets-y}" \
		$(shell sh debian/extract-config-opts \
		    $(DEB_HOST_ARCH_OS)-$(DEB_HOST_ARCH) debian/control) \
		$(QEMU_CONFIGURE_OPTIONS)

override_dh_auto_build:
	# system and utils build
	# XXhack alert: opengl libs includes libdrm which is not needed
	$(MAKE) V=${V} OPENGL_LIBS="-lepoxy -lgbm -lX11"
	dtc -o pc-bios/bamboo.dtb pc-bios/bamboo.dts

override_dh_auto_clean: debian/control
	dh_auto_clean
	rm -rf qemu-build configure-stamp build-stamp
	find scripts/ -name '*.pyc' -delete || :

define inst-system
	echo "installing system: $1"
	mkdir -p debian/qemu-system-$1/usr/share/man/man1 debian/qemu-system-$1/usr/bin
	for t in ${sysarch_$1}; do \
	    mv debian/tmp/usr/bin/qemu-system-$$t debian/qemu-system-$1/usr/bin/; \
	    echo ".so man1/qemu-system.1" > debian/qemu-system-$1/usr/share/man/man1/qemu-system-$$t.1; \
	done
	echo sysarch:$1=\
$(if $(wordlist 10,20,${sysarch_$1}),\
$(wordlist 1,8,${sysarch_$1})\$${Newline}   $(wordlist 9,20,${sysarch_$1}),\
${sysarch_$1}) \
> debian/qemu-system-$1.substvars
	echo sysprovides:$1=${addprefix qemu-system-,${filter-out $1,${sysarch_$1}}} | \
	  sed -e 's/ /, /g' -e 'y/_/-/' >> debian/qemu-system-$1.substvars
	dh_link -pqemu-system-$1 usr/share/doc/qemu-system-common usr/share/doc/qemu-system-$1/common

endef

define prep_system
	echo "Installing qemu-system for system type: $1"
	mkdir -p debian/qemu-system-$1/usr/share/man/man1 debian/qemu-system-$1/usr/bin
	dh_link -pqemu-system-$1 usr/share/doc/qemu-system-common usr/share/doc/qemu-system-$1/common
endef

override_dh_auto_install:
	echo "=== AUTO INSTALL ==="
	dh_auto_install
	cp qemu.1 debian/tmp/usr/share/man/man1/qemu-system.1
	# qemu-system subpackages
	for sys in $(system-pkg-y); do \
		pkg=`echo "qemu-system-$$sys" | tr '_' '-'` ; \
		pdir="debian/$$pkg" ; \
		echo "installing system package: $$sys" ; \
		mkdir -p $$pdir/usr/share/man/man1 $$pdir/usr/bin ; \
		dh_link -p$$pkg usr/share/doc/qemu-system-common usr/share/doc/$$pkg/common ; \
		install -D debian/tmp/usr/bin/qemu-system-$$sys $$pdir/usr/bin ; \
		echo ".so man1/qemu-system.1" > $$pdir/usr/share/man/man1/qemu-system-$$sys.1; \
	done

ifeq ($(DEB_HOST_ARCH_OS),linux)
# virtfs-proxy-helper and qemu-bridge-helper are linux-specific
	for f in usr/bin/virtfs-proxy-helper \
	         usr/share/man/man1/virtfs-proxy-helper.1 \
		 usr/lib/qemu/qemu-bridge-helper \
	; do \
	  mkdir -p debian/qemu-system-common/$${f%/*} ; \
	  mv debian/tmp/$$f debian/qemu-system-common/$$f ; \
	done
endif # linux
# install whole thing so --list-missing works right
	dh_install --list-missing
# install the rest for arch/indep as needed
	dh_installdocs
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_installudev
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

xxxx_install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs -a

	# system and utils install
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

	# qemu-system subpackages
	mv debian/tmp/usr/share/man/man1/qemu.1 debian/tmp/usr/share/man/man1/qemu-system.1
	$(foreach s,${systems},$(call inst-system,$s))

ifeq ($(DEB_HOST_ARCH_OS),linux)

# virtfs-proxy-helper and qemu-bridge-helper are linux-specific
	for f in usr/bin/virtfs-proxy-helper \
	         usr/share/man/man1/virtfs-proxy-helper.1 \
		 usr/lib/qemu/qemu-bridge-helper \
	; do \
	  mkdir -p debian/qemu-system-common/$${f%/*} ; \
	  mv debian/tmp/$$f debian/qemu-system-common/$$f ; \
	done

endif # linux

# install whole thing so --list-missing works right
	dh_install --list-missing
# install the rest for arch/indep as needed
	dh_installdocs ${ai} -Nqemu-user-binfmt
	dh_installchangelogs ${ai} -Nqemu-user-binfmt
	dh_installdocs ${ai} -pqemu-user-binfmt --link-doc=qemu-user
	dh_installman ${ai}
	dh_installudev ${ai}
ifneq (${ai},-i)	# do not run this for binary-indep
# qemu-ifup is arch-specific
	install -D debian/qemu-ifup.$(DEB_HOST_ARCH_OS) \
		debian/qemu-system-common/etc/qemu-ifup
	dh_installinit -pqemu-guest-agent
endif
	dh_link ${ai}
	dh_strip ${ai}
	dh_compress ${ai}
	dh_fixperms ${ai}
	dh_makeshlibs ${ai}
	dh_shlibdeps ${ai}
	dh_installdeb ${ai}
	dh_gencontrol ${ai}
	dh_md5sums ${ai}
	dh_builddeb ${ai}

# only include rules for debian/control if debian/control-in is present
debian/control: debian/control-in debian/rules
	sed -e 's/^:$(shell echo ${VENDOR} | tr '[A-Z]' '[a-z]')://' \
		-e '/^:[a-z]*:/D' $< > $@.tmp
	echo >> $@.tmp
	for pkg in $(system-pkg-y); do (cat debian/control-system-$$pkg.in ; echo) >> $@.tmp ; done
	mv -f $@.tmp $@
